.item {
    padding: 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    border-left: 4px solid var(--color-type-2);
}

.heading {
    display: flex;
    margin-bottom: 10px;
}

.heading > h4 {
    margin: 0 15px 0 0;
    text-align: initial;
}

.heading > span {
    color: gray;
    font-size: 14px;
}

.text {
    text-align: initial;
    margin: 0;
}

@media(max-width: 600px) {
    .heading {
        flex-direction: column;
    }

    .heading > h4 {
        text-align: center;
        margin: 0 0 5px 0;
    }

    .heading > span {
        font-size: 12px;
    }
}
