.footer
    display: flex
    justify-content: space-between
    padding: 30px
    font-size: 24px
    background-color: var(--color-type-1)
    color: var(--color-type-2)

.logo
    width: 32px
    margin-right: 12px
    transition: opacity .3s
    &:hover
      opacity: .7




