.main {
  max-width: 1000px;
  padding: 1rem 2rem;
  margin: 0 auto;
  text-align: center;
  min-height: calc(100vh - 193px);
}

@media (max-width: 768px) {
  .main {
    padding: .75rem 1.5rem;
    min-height: calc(100vh - 185px);
  }
}

@media (max-width: 500px) {
  .main {
    padding: .5rem 1rem;
    min-height: calc(100vh - 177px);
  }
}

@media (max-width: 400px) {
  .main {
    padding: .25rem .75rem;
    min-height: calc(100vh - 169px);
  }
}

