body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-type-1: #222222;
  --color-type-2: #61dafb;
}

.link {
  color: var(--color-type-2);
  transition: opacity .3s ease;
}

.link:hover {
  opacity: .8;
}
